@media only screen and (min-width: 700px) {
    .Liked {
        border-radius: 16px;
        border: 1px solid #6A4DBC70;
        display: block !important;
        margin-bottom: 42px;
        padding: 16px;
    }
    
    .Liked-collapsed {
        display: block !important;
        transition: background-color 0.3s ease;
        background: linear-gradient(0deg, rgba(106, 77, 188, 0.44), rgba(106, 77, 188, 0.44)),
        linear-gradient(0deg, rgba(106, 77, 188, 0.28), rgba(106, 77, 188, 0.28));
        border-radius: 16px;
        border: 1px solid #6A4DBC70;
        margin-bottom: 42px;
        padding: 16px;
    }
}

.Liked-header {
    transition: 0.3s ease;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Liked{
    display: none;
}

.Liked-collapsed{
    display: none;
}

.arrow-down-container {
    align-items: center;
    background: #FFFFFF1A;
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.Liked-name-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Liked-icon-container { 
    align-items: center;
    background: #6A4DBC;
    border-radius: 50%;
    display: flex;
    height: 34px;
    justify-content: center;
    margin-right: 8px;
    width: 34px;
}

.Liked-name {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.7253813147544861px;
    line-height: 42px;
    text-align: left;
}

.no-liked { 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0 40px;
}

.no-liked-text {
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.7253813147544861px;
    line-height: 23px;
    margin-top: 16px;
    text-align: left;
}

.collapsed { 
    display: none;
}