@media only screen and (min-width: 700px) {
    .Superheroes-header {
        flex-direction: row !important;
    }
}

.Superheroes-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Superheroes-title {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.7253813147544861px;
    line-height: 42px;
    text-align: left;
}

.search {
    align-items: center;
    background: #FFFFFF1A;
    border-radius: 32px;
    display: flex;
    height: 24px;
    justify-content: start;
    padding: 8px;
    width: 250px;
}

.search-icon {
    height: 24px;
    width: 24px;
}

.search-input {
    background-color: transparent;
    border: 0px;
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    letter-spacing: 0.27308472990989685px;
    line-height: 23px;
    padding-left: 8px;
    text-align: left;
    width: 100%;
}

.error {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 120px;
}