@media only screen and (min-width: 700px) {
    .Navbar{
        display: none;
    }
}

.Navbar{
    width: 100vw;
}

.Navbar-superheroes-button {
    align-items: center;
    border-top: 1px solid #3A2873;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 94px;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 50%;
}

.Navbar-liked-button{
    align-items: center;
    border-top: 1px solid #3A2873;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 94px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 50%;
}

.favorites-icon {
    height: 24px;
    width: 24px;
}

.superheroes-icon {
    height: 24px;
    width: 24px;
}

.navbar-button {
    color: white;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.27308472990989685px;
    line-height: 18px;
    margin-top: 8px;
    text-align: center;
}

.navbar-button--selected {
    color: #8067FF;
}

.hidden { 
    display: none;
}